<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{30.315564,-81.689199}</string>
	<key>overlayTopLeftCoord</key>
	<string>{30.325564,-81.699199}</string>
	<key>overlayTopRightCoord</key>
	<string>{30.325564,-81.679199}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{30.305564,-81.699199}</string>
	<key>boundary</key>
	<array>
		<string>{30.315511,-81.689191}</string>
		<string>{30.315562,-81.689192}</string>
		<string>{30.315563,-81.689193}</string>
		<string>{30.315564,-81.689194}</string>
		<string>{30.315565,-81.689195}</string>
		<string>{30.315566,-81.689196}</string>
		<string>{30.315567,-81.689197}</string>
		<string>{30.315568,-81.689198}</string>
		<string>{30.315569,-81.689199}</string>
	</array>
</dict>
</plist>
